<launch>	
	        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find nox)/cfg/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find nox)/cfg/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find nox)/cfg/local_costmap_params.yaml" command="load" />
  		<rosparam file="$(find nox)/cfg/global_costmap_params.yaml" command="load" />
  		<rosparam file="$(find nox)/cfg/dwa_local_planner_params.yaml" command="load" />

		<param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

      		<param name="clearing_rotation_allowed" value="true" /> <!-- Nox is able to rotate in place -->
	</node>

</launch>
